<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" id="WebApp_ID" version="6.0">
  <display-name>MyMovieApplication</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>MyServlet</display-name>
    <servlet-name>MyServlet</servlet-name>
    <servlet-class>mypackage.MyServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MyServlet</servlet-name>
    <url-pattern>/MyServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Registration_form</display-name>
    <servlet-name>Registration_form</servlet-name>
    <servlet-class>mypackage.Registration_form</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Registration_form</servlet-name>
    <url-pattern>/Registration_form</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>mypackage.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminServlet</display-name>
    <servlet-name>AdminServlet</servlet-name>
    <servlet-class>mypackage.AdminServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminServlet</servlet-name>
    <url-pattern>/AdminServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InsertFormServlet</display-name>
    <servlet-name>InsertFormServlet</servlet-name>
    <servlet-class>mypackage.InsertFormServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InsertFormServlet</servlet-name>
    <url-pattern>/InsertFormServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InsertUpdateFormServlet</display-name>
    <servlet-name>InsertUpdateFormServlet</servlet-name>
    <servlet-class>mypackage.InsertUpdateFormServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InsertUpdateFormServlet</servlet-name>
    <url-pattern>/InsertUpdateFormServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MyUpdateServlet</display-name>
    <servlet-name>MyUpdateServlet</servlet-name>
    <servlet-class>mypackage.MyUpdateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MyUpdateServlet</servlet-name>
    <url-pattern>/MyUpdateServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MyDeleteServlet</display-name>
    <servlet-name>MyDeleteServlet</servlet-name>
    <servlet-class>mypackage.MyDeleteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MyDeleteServlet</servlet-name>
    <url-pattern>/MyDeleteServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchMovieServlet</display-name>
    <servlet-name>SearchMovieServlet</servlet-name>
    <servlet-class>mypackage.SearchMovieServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchMovieServlet</servlet-name>
    <url-pattern>/SearchMovieServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutServlet</display-name>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>mypackage.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/LogoutServlet</url-pattern>
  </servlet-mapping>
</web-app>